@mixin before {
	&::before {
		position: absolute;
		content: "";
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: lightblue;
		@content;
	}
}

@mixin after {
	&::after {
		position: absolute;
		content: "";
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: lightblue;
		@content;
	}
}


@mixin fullWidth(){
	position: relative;
	width: 100vw;
	margin-left: 0;
	margin-right: 0;
	max-width: 100vw;
	left: calc(-50vw + 50%);
}

@mixin borderRadius($value){
	border-radius: $value $value 0 $value;
}
@mixin bg ($img, $size: cover, $repeat: no-repeat, $position: center){
	background-image: url($img);
	background-size: $size;
	background-repeat: $repeat;
	background-position: $position;
}


@mixin colorFillBG($color){
		z-index: -10;
		background-color: $color;
		height: 100%;
		position: absolute !important;
		@include fullWidth();
}

@mixin blockPadding(){
	padding-block: 20px;
	@media (min-width: 768px) and (max-width: 1023px){
		padding-block: 35px;
	}
	@media (min-width: 1024px){
		padding-block: 100px;
	}
}

