// COLORS 
$orange : #fdc500;
$yellow : #ffd500;
$lightBlue : #00509d;
$mediumBlue : #003f88;
$darkBlue : #00296b;


$inputColor : #005f90;

$fontColor : #2a2a2a;

$fontNadpisy : 'Playfair Display', Arial;
