*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.site__wrapper{
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;

    @media screen and (max-width: 1099px) {
        max-width: 90%;
    }
}

.beforeBG{
    position: relative;
    @include before{
        z-index: 1;
        background: $yellow;
        @include borderRadius(50%);

        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 87%;
        aspect-ratio: 1 / 1;

    }

    img{
        z-index: 2;
        position: relative;
    }
}



// gap
hr{
    border: none;
    height: 100px;

    @media (min-width: 768px) and (max-width: 1023px){
        height: 120px;
    }
    @media (min-width: 1024px) and (max-width: 1500px){
        height: 150px;
    }
    @media (min-width: 1500px){
        height: 200px;
    }
}
