.reference{
  position: relative;

  @include blockPadding();

  h3{

    @media (max-width: 767px){
      font-size: 25px;
    }
  }


  .img{

    &--container{
      perspective: 1500px;
      background: $orange;
      @include borderRadius(100px);
      padding-block: 10px;
    }



    &--inner{
      aspect-ratio: 16 / 9;
      margin-inline: auto;
      width: 100%;
      overflow-x: hidden;
      //border: solid $orange 30px;
      //@include borderRadius(180px);
      @include borderRadius(30px);

      @media (min-width: 768px) and (max-width: 1023px){
        border-width: 25px;

      }
      @media (max-width: 767px){
        width: 80%;
        margin-block: 30px;
      }
      


      // skryje scroll bar
      &::-webkit-scrollbar { display: none; }
      & { -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */ }

      img{
        width: 100%;
        cursor: s-resize;
      }
    }


  }



  .btn{

    @media (max-width: 767px){
      margin-top: 20px;
    }
  }




  .ref{
    &:not(:last-child){
      margin-bottom: 80px;
    }


    @media (min-width: 768px){
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, min-content);
      column-gap: 30px;

      .img--container{
        grid-row: 1 / 3;
      }
    }

    &:nth-child(even){
      .img--container{
        grid-column: 2 / 3;

        .img--inner{
          @media (min-width: 768px){
            transform: rotateY(-35deg) translateX(-30px);
          }
        }
      }
    }

    &:nth-child(odd){
      .img--container{
        grid-column: 1 / 2;
      }

      .img--inner{
        @media (min-width: 768px){
          transform: rotateY(35deg) translateX(30px);
        }
      }

      .mouseSVG{
        inset: auto 35px 15px auto;
      }
    }

  }


  // pozadí
  @include after{
    @include colorFillBG(#f5f3ee);
  }
}