<%- include('layout/header.html') -%>
<%- include('layout/navigation.html') -%>

<section class="page--404">
    <style>
        .page--404{
            display: grid;
            place-items: center;
            height: 100vh;
        }

        .content--404{
            display: grid;
            place-items: center;
        }
    </style>

    <div class="content--404">
        <img src="../public/img/logo-404.svg" alt="Logo">
        <h1> 404 Stránka nenalezena </h1>
    </div>
</section>


<%- include('layout/footer.html') -%>
