<%- include('layout/header.html') -%>
<%- include('layout/navigation.html') -%>



<div class="site__wrapper">

    <section class="header" id="uvod" data-navIndex="0">
        <div class="content--left">
            <h1>
                Lorem ipsum
            </h1>

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim sagittis.
                c pede. Mauris elementum mauris vitae tortor.
            </p>

            <div class="links">
                <a href="#reference">
                    <span class="btn btn--primary">
                        Button
                    </span>
                </a>
                <a href="#sluzby">
                    <span class="btn btn--secondary">
                        Button
                    </span>
                </a>
            </div>
        </div>

        <div class="content--right">
            <div class="img--container beforeBG mainIMG">
                <img src="../public/img/character.svg" alt="Postava.svg">
            </div>
        </div>
    </section>

    <hr>

    <section class="pathBoxes">
        <div class="asset asset--1"></div>
        <ul>
            <li class="pathBox">
                <a href="#reference">
                    <h2>
                        reference.
                    </h2>
                </a>
            </li>

            <li class="pathBox">
                <a href="#sluzby">
                    <h2>
                        služby.
                    </h2>
                </a>
            </li>

            <li class="pathBox">
                <a href="#kontakt">
                    <h2>
                        kontakt.
                    </h2>
                </a>
            </li>
        </ul>
        <div class="asset asset--2"></div>
    </section>

    <hr>

    <section class="citace">
        <div class="asset asset--4"></div>
        <div class="asset asset--clock"></div>

        <div class="content--left">
            <div class="img--container beforeBG">
                <img src="../public/img/character.svg" alt="Postava.svg">
            </div>
        </div>
        <div class="content--right">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim sagittis.
                c pede. Mauris elementum mauris vitae tortor.
            </p>
            <div class="autor">
                <strong>Ondřej Buřval</strong>
                <span>tvůrce webu</span>
            </div>
        </div>
        <div class="asset asset--5"></div>
    </section>

    <hr>

    <section class="sluzby" id="sluzby" data-navIndex="1">
        <h2>
            služby
        </h2>

        <div class="carousel-container">
            <div class="asset asset--3"></div>
            <div class="asset asset--5"></div>

            <div class="carousel-slide">
                <div class="slide">
                    <div class="slide--inner">
                        <h2>aplikace</h2>

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                            sagittis.c pede. Mauris elementum mauris vitae tortor.
                        </p>
                        <a href="#">
                        <span class="btn btn--third">
                            Zjistit více
                        </span>
                        </a>
                    </div>
                </div>

                <div class="slide active">
                    <div class="slide--inner">
                        <h2>webové stránky</h2>

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                            sagittis.c pede. Mauris elementum mauris vitae tortor.
                        </p>
                        <a href="#">
                        <span class="btn btn--third">
                            Zjistit více
                        </span>
                        </a>
                    </div>
                </div>

                <div class="slide">
                    <div class="slide--inner">
                        <h2>ostatní</h2>

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                            sagittis.c pede. Mauris elementum mauris vitae tortor.
                        </p>
                        <a href="#">
                        <span class="btn btn--third">
                            Zjistit více
                        </span>
                        </a>
                    </div>

                </div>
            </div>

            <button id="prevSlide">
                <svg width="100%" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g class="svgProperty" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" >
                        <path  d="M1179 4027 c-64 -34 -102 -93 -107 -166 -8 -112 -33 -83 601 -718 l582 -583 -582 -583
                        c-634 -635 -609 -606 -601 -718 8 -110 93 -189 206 -189 29 0 70 7 90 17 42 18 1314 1280 1365 1353
                        36 52 47 133 27 196 -10 32 -142 169 -679 707 -446 447 -679 674 -707 687 -57 28 -138 27 -195 -3z"/>
                        <path d="M2485 4021 c-104 -48 -153 -173 -110 -279 11 -26 192 -213 588 -609 l572 -573 -581 -582
                        c-635 -636 -610 -607 -602 -719 8 -110 93 -189 206 -189 29 0 70 7 90 17 24 10 277 255 695 672 504
                        503 663 668 682 705 29 58 32 119 10 174 -22 51 -1323 1356 -1380 1383 -51 24 -119 24 -170 0z"/>
                    </g>
                </svg>
            </button>
            <button id="nextSlide">
                <svg width="100%" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g class="svgProperty" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" >
                        <path  d="M1179 4027 c-64 -34 -102 -93 -107 -166 -8 -112 -33 -83 601 -718 l582 -583 -582 -583
                        c-634 -635 -609 -606 -601 -718 8 -110 93 -189 206 -189 29 0 70 7 90 17 42 18 1314 1280 1365 1353
                        36 52 47 133 27 196 -10 32 -142 169 -679 707 -446 447 -679 674 -707 687 -57 28 -138 27 -195 -3z"/>
                        <path d="M2485 4021 c-104 -48 -153 -173 -110 -279 11 -26 192 -213 588 -609 l572 -573 -581 -582
                        c-635 -636 -610 -607 -602 -719 8 -110 93 -189 206 -189 29 0 70 7 90 17 24 10 277 255 695 672 504
                        503 663 668 682 705 29 58 32 119 10 174 -22 51 -1323 1356 -1380 1383 -51 24 -119 24 -170 0z"/>
                    </g>
                </svg>
            </button>
        </div>


    </section>

    <hr>

    <section class="reference" id="reference" data-navIndex="2">
        <h2> reference </h2>

        <div class="ref">
            <div class="text">
                <h3>
                    Květiny Hana Knížková
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                    sagittis.c pede. Mauris elementum mauris vitae tortor.
                </p>
            </div>
            <div class="img--container">
                <svg class="mouseSVG" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                       fill="#000000" stroke="none">
                        <path  d="M1925 5106 c-216 -36 -381 -106 -554 -237 -180 -135 -330 -344 -404
                            -559 -66 -192 -62 -89 -62 -1750 0 -1418 1 -1510 18 -1590 91 -426 388 -767
                            787 -903 180 -61 189 -62 850 -62 547 0 613 2 690 18 487 104 843 460 947 947
                            17 80 18 172 18 1590 0 1418 -1 1510 -18 1590 -91 426 -389 767 -787 903 -178
                            61 -174 60 -815 63 -448 2 -609 -1 -670 -10z m1320 -419 c258 -80 462 -283
                            542 -542 l28 -90 0 -1495 0 -1495 -28 -90 c-80 -259 -283 -462 -542 -542 l-90
                            -28 -595 0 -595 0 -90 28 c-259 80 -462 283 -542 542 l-28 90 0 1495 0 1495
                            28 90 c74 240 273 452 493 525 144 48 155 49 759 47 l570 -2 90 -28z"/>
                        <path id="mouseSvgDot1" d="M2492 4299 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                            -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                            -178 23z"/>
                        <path id="mouseSvgDot2" d="M2492 3499 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                            -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                            -178 23z"/>
                        <path id="mouseSvgDot3" d="M2492 2699 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                            -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                            -178 23z"/>
                        <path id="mouseSvgArrow" d="M1814 1909 c-76 -72 -140 -134 -142 -139 -2 -4 198 -220 444 -480
                            l447 -472 27 29 c62 64 826 881 844 901 l19 22 -104 98 c-57 54 -123 115 -145
                            135 l-41 37 -297 -315 c-164 -173 -301 -315 -305 -315 -4 0 -142 142 -305 315
                            -164 173 -299 315 -300 315 -1 0 -65 -59 -142 -131z"/>
                    </g>
                </svg>
                <div class="img--inner">
                    <img src="../public/img/reference/hanaknizkova.jpg" alt="Ukázka reference">
                </div>
            </div>

            <a href="http://hanaknizkova.cz/" target="_blank">
                <span class="btn btn--primary">
                    Navštívit
                </span>
            </a>

        </div>

        <div class="ref">

            <div class="text">
                <h3>
                    Květiny Hana Knížková
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                    sagittis.c pede. Mauris elementum mauris vitae tortor.
                </p>
            </div>

            <div class="img--container">
                <svg class="mouseSVG" width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                       fill="#000000" stroke="none">
                        <path  d="M1925 5106 c-216 -36 -381 -106 -554 -237 -180 -135 -330 -344 -404
                            -559 -66 -192 -62 -89 -62 -1750 0 -1418 1 -1510 18 -1590 91 -426 388 -767
                            787 -903 180 -61 189 -62 850 -62 547 0 613 2 690 18 487 104 843 460 947 947
                            17 80 18 172 18 1590 0 1418 -1 1510 -18 1590 -91 426 -389 767 -787 903 -178
                            61 -174 60 -815 63 -448 2 -609 -1 -670 -10z m1320 -419 c258 -80 462 -283
                            542 -542 l28 -90 0 -1495 0 -1495 -28 -90 c-80 -259 -283 -462 -542 -542 l-90
                            -28 -595 0 -595 0 -90 28 c-259 80 -462 283 -542 542 l-28 90 0 1495 0 1495
                            28 90 c74 240 273 452 493 525 144 48 155 49 759 47 l570 -2 90 -28z"/>
                        <path id="mouseSvgDot1" d="M2492 4299 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                            -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                            -178 23z"/>
                        <path id="mouseSvgDot2" d="M2492 3499 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                            -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                            -178 23z"/>
                        <path id="mouseSvgDot3" d="M2492 2699 c-48 -14 -109 -80 -123 -131 -23 -89 12 -182 88 -229 57
                            -36 154 -34 210 3 62 41 88 90 88 168 0 77 -26 127 -85 166 -43 29 -125 39
                            -178 23z"/>
                        <path id="mouseSvgArrow" d="M1814 1909 c-76 -72 -140 -134 -142 -139 -2 -4 198 -220 444 -480
                            l447 -472 27 29 c62 64 826 881 844 901 l19 22 -104 98 c-57 54 -123 115 -145
                            135 l-41 37 -297 -315 c-164 -173 -301 -315 -305 -315 -4 0 -142 142 -305 315
                            -164 173 -299 315 -300 315 -1 0 -65 -59 -142 -131z"/>
                    </g>
                </svg>
                <div class="img--inner">
                    <img src="../public/img/reference/hanaknizkova.jpg" alt="Ukázka reference">
                </div>
            </div>

            <a href="http://hanaknizkova.cz/" target="_blank">
                <span class="btn btn--primary">
                    Navštívit
                </span>
            </a>

        </div>
    </section>

    <hr>

    <section class="kontakt" id="kontakt"  data-navIndex="3">
        <%- include('components/form.html') -%>
    </section>

    <hr>

</div>


<%- include('layout/footer.html') -%>

