<%- include('layout/header.html') -%>
<%- include('layout/navigation.html') -%>



<div class="site__wrapper">

    <section class="header" id="uvod">
        <div class="content--left">
            <h1>
                Lorem ipsum
            </h1>

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim sagittis.
                c pede. Mauris elementum mauris vitae tortor.
            </p>

            <div class="links">
                <a href="#">
                    <span class="btn btn--primary">
                        Button
                    </span>
                </a>
                <a href="#">
                    <span class="btn btn--secondary">
                        Button
                    </span>
                </a>
            </div>
        </div>

        <div class="content--right">
            <div class="img--container beforeBG mainIMG">
                <img src="../public/img/character.svg" alt="Postava.svg">
            </div>
        </div>
    </section>


    <section class="pathBoxes">
        <ul>
            <li class="pathBox">
                <a href="#reference">
                    <h2>
                        reference.
                    </h2>
                </a>
            </li>

            <li class="pathBox">
                <a href="#sluzby">
                    <h2>
                        služby.
                    </h2>
                </a>
            </li>

            <li class="pathBox">
                <a href="#kontakt">
                    <h2>
                        kontakt.
                    </h2>
                </a>
            </li>
        </ul>
    </section>


    <section class="citace">
        <div class="content--left">
            <div class="img--container beforeBG">
                <img src="../public/img/character.svg" alt="Postava.svg">
            </div>
        </div>
        <div class="content--right">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim sagittis.
                c pede. Mauris elementum mauris vitae tortor.
            </p>
            <div class="autor">
                <strong>Ondřej Buřval</strong>
                <span>tvůrce webu</span>
            </div>
        </div>
    </section>


    <section class="sluzby" id="sluzby">
        <h2>
            služby
        </h2>

        <div class="carousel-container">
            <div class="carousel-slide">
                <div class="slide">
                    <h2>aplikace</h2>
                    <div class="slide--inner">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                            sagittis.c pede. Mauris elementum mauris vitae tortor.
                        </p>
                        <a href="#">
                        <span class="btn btn--third">
                            Zjistit více
                        </span>
                        </a>
                    </div>
                </div>

                <div class="slide active">
                    <h2>webové stránky</h2>
                    <div class="slide--inner">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                            sagittis.c pede. Mauris elementum mauris vitae tortor.
                        </p>
                        <a href="#">
                        <span class="btn btn--third">
                            Zjistit více
                        </span>
                        </a>
                    </div>
                </div>

                <div class="slide">
                    <h2>ostatní</h2>
                    <div class="slide--inner">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                            sagittis.c pede. Mauris elementum mauris vitae tortor.
                        </p>
                        <a href="#">
                        <span class="btn btn--third">
                            Zjistit více
                        </span>
                        </a>
                    </div>

                </div>
            </div>

            <button id="prevSlide">
                <svg width="100%" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g class="svgProperty" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" >
                        <path  d="M1179 4027 c-64 -34 -102 -93 -107 -166 -8 -112 -33 -83 601 -718 l582 -583 -582 -583
                        c-634 -635 -609 -606 -601 -718 8 -110 93 -189 206 -189 29 0 70 7 90 17 42 18 1314 1280 1365 1353
                        36 52 47 133 27 196 -10 32 -142 169 -679 707 -446 447 -679 674 -707 687 -57 28 -138 27 -195 -3z"/>
                        <path d="M2485 4021 c-104 -48 -153 -173 -110 -279 11 -26 192 -213 588 -609 l572 -573 -581 -582
                        c-635 -636 -610 -607 -602 -719 8 -110 93 -189 206 -189 29 0 70 7 90 17 24 10 277 255 695 672 504
                        503 663 668 682 705 29 58 32 119 10 174 -22 51 -1323 1356 -1380 1383 -51 24 -119 24 -170 0z"/>
                    </g>
                </svg>
            </button>
            <button id="nextSlide">
                <svg width="100%" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g class="svgProperty" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" >
                        <path  d="M1179 4027 c-64 -34 -102 -93 -107 -166 -8 -112 -33 -83 601 -718 l582 -583 -582 -583
                        c-634 -635 -609 -606 -601 -718 8 -110 93 -189 206 -189 29 0 70 7 90 17 42 18 1314 1280 1365 1353
                        36 52 47 133 27 196 -10 32 -142 169 -679 707 -446 447 -679 674 -707 687 -57 28 -138 27 -195 -3z"/>
                        <path d="M2485 4021 c-104 -48 -153 -173 -110 -279 11 -26 192 -213 588 -609 l572 -573 -581 -582
                        c-635 -636 -610 -607 -602 -719 8 -110 93 -189 206 -189 29 0 70 7 90 17 24 10 277 255 695 672 504
                        503 663 668 682 705 29 58 32 119 10 174 -22 51 -1323 1356 -1380 1383 -51 24 -119 24 -170 0z"/>
                    </g>
                </svg>
            </button>
        </div>


    </section>


    <section class="reference" id="reference">
        <h2> reference </h2>

        <div class="ref">
            <div class="text">
                <h3>
                    Květiny Hana Knížková
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                    sagittis.c pede. Mauris elementum mauris vitae tortor.
                </p>
            </div>
            <div class="img--container">
                <div class="img--inner">
                    <img src="../public/img/reference/hanaknizkova.jpg" alt="Ukázka reference">
                </div>
            </div>

            <a href="#">
                <span class="btn btn--primary">
                    Navštívit
                </span>
            </a>

        </div>

        <div class="ref">

            <div class="text">
                <h3>
                    Květiny Hana Knížková
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent taciti sociosqu ad litora
                    torquent per conubia nostra, per inceptos hymenaeos. Proin in tellus sit amet nibh dignissim
                    sagittis.c pede. Mauris elementum mauris vitae tortor.
                </p>
            </div>

            <div class="img--container">
                <div class="img--inner">
                    <img src="../public/img/reference/hanaknizkova.jpg" alt="Ukázka reference">
                </div>
            </div>

            <a href="#">
                <span class="btn btn--primary">
                    Navštívit
                </span>
            </a>

        </div>
    </section>

    <section class="kontakt" id="kontakt">
        <h2>Neváhejte napsat</h2>
        <form method="post" id="kontaktForm">

            <div class="content--left">
                <label for="nameInput">
                    Jméno
                </label>
                <input type="text" id="nameInput" data-required="Jméno" data-input="name" placeholder="vložte jméno">

                <label for="emailInput">
                    Email
                </label>
                <input type="email" id="emailInput" data-required="E-mail"  placeholder="vložte e-mail">

                <label for="phoneInput">
                    Telefon
                </label>
                <input type="tel" id="phoneInput" placeholder="vložte telefon">



            </div>

            <div class="content--right">
                <label for="message">
                    Zpráva
                </label>
                <textarea id="message" cols="30" rows="10" data-required="Zpráva"  placeholder="vložte text"></textarea>
            </div>

            <button type="submit" class="formSubmit">
                    <span class="btn btn--submit">
                        Odeslat
                    </span>
            </button>
        </form>
    </section>
</div>


<%- include('layout/footer.html') -%>

