<%- include('layout/header.html') -%>
<%- include('layout/navigation.html') -%>

<style>
    @media screen and (min-width: 768px) {
        section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 100vh;
        }
    }
</style>




    <div class="site__wrapper">
        <section>

            <div class="content--left">

                <h1> H1 Lorem ipsum </h1>
                <h2> H2 Lorem ipsum </h2>
                <h3> H3 Lorem ipsum </h3>
                <h4> H4 Lorem ipsum </h4>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia quasi odio qui id harum consequatur veritatis, 
                    asperiores, architecto accusamus fugit debitis suscipit recusandae ducimus sit corrupti eligendi sunt nulla voluptatum!
                </p>

                <a href="#">
                    <span class="btn btn--primary">
                        Button Primary
                    </span>
                </a>
                <br />
                <a href="#">
                    <span class="btn btn--secondary">
                        Button Secondary
                    </span>
                </a>
                <br />
                <a href="#">
                    <span class="btn btn--third">
                        Button Third
                    </span>
                </a>
                <br />
                <a href="#">
                    <span class="btn btn--submit">
                        Button Submit
                    </span>
                </a>
    
            </div>
    
            <div class="content--right">
                <div class="img--container beforeBG mainIMG">
                    <img src="../public/img/character.svg" alt="Postava.svg">
                </div>

                <ul>
                    <h4> ul Seznam </h4>
                    <li> Lorem ipsum dolor </li>
                    <li> Lorem ipsum dolor </li>
                    <li> Lorem ipsum dolor </li>
                    <li> Lorem ipsum dolor </li>
                    <li> Lorem ipsum dolor </li>
                    <li> Lorem ipsum dolor </li>
                </ul>
            </div>
    
    
        </section>
    </div>



<%- include('layout/footer.html') -%>