.sluzby{
  position: relative;

  @include before{
    width: 50%;
    left: -60%;
    z-index: 1;
    background: linear-gradient(to right, white, transparent);

  }

  @include after{
    width: 50%;
    left: auto;
    right: -60%;
    z-index: 1;
    background: linear-gradient(to left, white, transparent);

  }
}

.carousel-container{
  width: 100%;
  margin: auto;
  position: relative;

}

.carousel-slide{
  width: 100%;
  display: flex;
  grid-auto-columns: 100%;
  grid-template-rows: 100%;
  transition: transform .7s ease-in-out;
}

.slide{
  position: relative;
  min-width: 100%;
  transform: scale(.6);
  transition: .3s;
  z-index: -1;

  @media (max-width: 767px){
    margin-top: 30px;
  }

  .btn{
    margin-top: 15px;

    @media (min-width: 768px){
      max-width: 250px;
    }


  }


  &--inner{
    position: relative;
    transition: .3s;
    @include borderRadius(80px);
    background: $yellow;
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 60px 100px;
    
    @media (max-width: 767px){
      padding-block: 50px 70px;
      padding-inline: 35px;
    }
  }

  p{
    color: white;

    @media (max-width: 767px){
      text-align: center;
    }
  }

  h2{
    color: $lightBlue;

    @media (min-width: 768px){
      top: -50px;
      left: 0;
      position: absolute;

    }

    @media (max-width: 767px){
      text-align: center;
      position: relative;

      @include before{
        inset: auto auto -5px 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 70%;
        background: $orange;
      }
    }
  }
}

.active{

  position: relative;
  min-height: 200px;
  transform: scale(1);

  .slide--inner{
    background: $lightBlue;
  }

  h2{
    color: $orange;
  }
}

:root{
  --arrow-width: 60px;
}


#prevSlide, #nextSlide{
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--arrow-width);
  border: none;
  transition: .5s;
  transform: scale(1);
  transform-origin: center;



  @media (max-width: 767px){
    height: 50px;
    width: 50vw;
    top: auto;
    padding-right: 60px;
    bottom: 20px;
  }

  svg{
    transition: .3s ease-in-out;
    @media (max-width: 767px){
      height: 50px;
    }

    .svgProperty{
      fill: $orange;
      transition: .3s;
    }
  }

  &:hover{
    svg{
      @media (min-width: 1024px){
        transform: translateX(10px);
        .svgProperty{
          fill: $darkBlue;
        }
      }
    }
  }
}

.clicked{

  svg{
    transform: translateX(25px) scale(1.1) !important;

    .svgProperty{
      fill: $yellow !important;
    }
  }
}

#prevSlide{
  left: 0;
  transition: .3s;
  transform: rotate(180deg) scale(1);

  @media (max-width: 767px){
    left: -25px;
  }

  &.last{
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }
}

#nextSlide{
  right: 0;

  @media (max-width: 767px){
    right: -25px;
  }

  &.last{
    transform: scale(0);
    opacity: 0;

  }
}


