form{
  position: relative;
  background: $mediumBlue;
  @include borderRadius(70px);
  padding: 40px;

  @media (min-width: 768px) and (max-width: 1023px){
    padding: 30px 25px 15px 25px;
  }

  @media (max-width: 767px){
    @include borderRadius(35px);


    padding: 15px 25px 5px 25px;
  }



  label{
    font-family: $fontNadpisy;
    color: $yellow;

    font-size: 30px;
  }

  input, textarea, .formValidationError{
    border: none;
    background: $inputColor;
    color: white;
    padding: 10px 20px;
    @include borderRadius(30px);

    margin-bottom: 15px;

    @media (min-width: 1024px){
      margin-bottom: 25px;
    }

    &::placeholder{
      color: white;
      opacity: .75;
    }

    @media (min-width: 1024px){
      padding-block: 16px;
    }
  }

  textarea{
    resize: vertical;
    min-height: 60px;

    @media (min-width: 1024px){
      margin-bottom: 15px;
    }
  }

  .content--left, .content--right{
    display: flex;
    flex-direction: column;

  }

  button{
    width: 100%;
    place-self: end;

    height: min-content;

    span{
      cursor: pointer;
      width: 100% !important;
    }
  }

  @keyframes msgSlide {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .formValidationError{
    position: relative;
    margin-bottom: 20px;
    z-index: 3;
    animation: msgSlide 1s;
    transform-origin: 100% 100%;
    border-radius: 30px 0 30px 30px;

    @include before{
      width: 30px;
      height: 30px;
      top: -10px;
      left: 50%;
      background: #f18484 ;
      transform: translateX(-50%) rotate(45deg);
      z-index: -1;
    }
  }


  //grid
  @media (min-width: 768px){
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

    column-gap: 30px;
  }


  .content--left{
    @media (min-width: 768px){
      grid-row: 1 / 4;
    }
  }

  .content--right{
    @media (min-width: 768px){
      grid-row: 1 / 5;


      textarea{
        height: 100%;
      }
    }
  }

  button{
    @media (min-width: 768px){
      grid-row: 4 / 5;
    }
  }

  // assets
  .asset{
    &--1{
      inset: auto auto 0 -130px;
      height: 400px !important;
      z-index: 20;

      @media (min-width: 768px) and (max-width: 1299px){
        left: -140px !important;
        width: 350px !important;
      }
      @media (max-width: 767px){
        height: 300px !important;
        left: -80px !important;
      }
    }

    &--lamp{
      height: 140% !important;
      width: 500px !important;
      inset: auto auto 0 -280px;


      @media (max-width: 1299px){
          display: none;
      }
    }

    &--character{
      z-index: 10;
      width: 400px;
      height: 100%;
      inset: auto -200px -50px auto !important;
      @include bg("../img/character-sitting.svg", $size: contain, $position: bottom);


      @media (min-width: 768px) and (max-width: 1299px){
        right: -100px !important;
        width: 300px;
      }
      @media (max-width: 767px){
        width: 220px;
        right: -50px !important;
      }
    }
  }
}