.page--404{
  display: grid;
  place-items: center;

  min-height: calc(100vh - 135px);
}

.content--404{
  display: grid;
  place-items: center;

  .btn{
    margin-top: 15px;
    width: 80%;
  }

  img{
    min-width: 200px;
    margin-bottom: 20px;
  }
}