footer{
  background: $yellow;

  .footer--inner{
    max-width: min(90%, 1200px);
    margin-inline: auto;

    display: grid;
    
    @media (min-width: 768px){
      grid-template-columns: 1.5fr 1fr;
      padding-top: 15px;
    }

    .content{
      &--left{
        padding-top: 20px;
      }

      &--right{
        padding-block: 20px;
        position: relative;
        z-index: 1;


        @media (max-width: 767px){
          margin-top: 25px;
        }

        @include before{
          z-index: -1;
          width: 112%;
          left: -6%;
          border-radius: 30px 30px 0 0;
          background: $orange;
          
          @media (min-width: 768px){
            width: 200%;
            height: 130%;
            border-radius: 30px;
            top: -35px;
          }
        }




        .footer--kontakt{
          display: grid;

          grid-template-columns: min-content 1fr 1fr;
          grid-template-rows: repeat(3, min-content);

          gap: 10px;


          a{
            grid-column: 1 / 3;
          }

          .icon{
            grid-row: 3 / 4;
            width: 25px;
            height: 25px;

            @media (min-width: 768px){
              width: 35px;
              height: 35px;
            }

            &--facebook{
              grid-column: 1 / 2;
            }
            &--instagram {
              grid-column: 2 / 3;
            }
          }

          img{
            grid-row: 1 / 4;
            grid-column: 3 / 4;
            place-self: end;
            
            @media (min-width: 1024px){
              min-width: 150px;
            }
          }
        }

      }
    }
  }


  ul{
    @media (max-width: 767px){
      column-count: 2;
    }


    li{

      a{
        transition: .35s;

        &:hover{
          padding-left: 20px;
        }
      }

      @media (max-width: 767px){
        margin-bottom: 5px;
      }


    }

  }

}


.copyright{
  position: relative;
  background: $orange;
  padding-block: 15px 10px;
  text-align: center;



  @media (min-width: 768px){
    background: $yellow;
    text-align: left;

    width: min(90%, 1200px);
    margin-inline: auto;
  }

  span{
    font-size: 12px;
    color: #8f8f8f;
  }


  @include before{
    background: #8f8f8f;
    opacity: .5;
    top: 10px;
    bottom: auto;
    height: 1px;
    width: 50%;

    @media (max-width: 767px){
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
    }
  }
}