nav{
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.096) 0 2px 5px;
    background: white;


    .mobile-nav-open{
        cursor: pointer;

        place-self: center end;
        padding-right: 10px;
        img{
            width: 30px;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .mobile-nav-close{
        cursor: pointer;

        @media screen and (min-width: 768px) {
            display: none;
        }
        color: white;

        position: absolute;
        top: 20px;
        right: 20px;

        img{
            width: 20px;
        }
    }


    .nav--inner{

        max-width: 1400px;
        margin-inline: auto;
        height: 100%;

        display: grid;
        grid-template-columns: auto auto;
        place-items: center start;

        @media screen and (min-width: 768px) {
            min-height: 85px;
        }

        ul{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            @media screen and (max-width: 767px) {
                flex-direction: column;
                justify-content: center;
                position: fixed;
                top: 0;
                right: 0;
                height: 100vh;
                width: 85vw;
                background: rgba(0, 0, 0, 0.97);
                z-index: 99;
                transform: translateX(85vw);

            }
        }

        .nav--item:not(.navBTN){
            position: relative;
            font-weight: 600;
            padding: 10px 20px;

            @include before{
                background: $lightBlue;
                bottom: -5px;
                top: auto;
                height: 2px;
                transition: .2s;
                transform: translateY(20px);
                opacity: 0;
                
                @media (max-width: 767px){
                    background: white;
                    width: 60%;
                    left: 20%;

                }
            }

            &:hover{
                &::before{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }


            @media (max-width: 767px) {
                width: 100%;
                text-align: center;
                font-size: 20px;
                padding-block: 15px;

                a{
                    color: white;
                    font-family: $fontNadpisy;
                }
            }

        }


        .navBTN{
            margin-top: 15px;
            @media screen and (max-width: 767px) {
                width: 70%;
                font-size: 20px;
                padding-block: 15px;


            }
        }



    }

    .logo{
        img{
            @media screen and (max-width: 767px) {
                width: 50px;
                margin: 20px 0 20px 20px;
            }
        }

    }
}