<nav>
    <div class="nav--inner">
        <a href="/" class="logo">
            <picture>
                <source media="(min-width:768px)" srcset="../public/img/logo.svg">
                <img src="../public/img/logo-noText.svg" alt="Logo společnosti.svg">
            </picture>
        </a>

        <a class="mobile-nav-open">
            <img src="../public/img/icons/menu.svg" alt="Ikonka menu.svg">
        </a>

        <ul class="nav--links">
            <li class="mobile-nav-close">
                <img src="../public/img/icons/close.svg" alt="Ikonka menu.svg">
            </li>
            <li class="nav--item">  <a href="#uvod"> úvod </a></li>
            <li class="nav--item">  <a href="#sluzby"> služby </a></li>
            <li class="nav--item">  <a href="#reference"> reference</a></li>
            <li class="nav--item navBTN">  <a href="#kontakt"> <span class="btn btn--primary"> kontakt </span></a></li>
        </ul>
    </div>
</nav>