.sluzby{
  position: relative;

  @media (max-width: 767px){
    margin-bottom: 100px;
  }

  @include before{
    width: 50%;
    left: -60%;
    z-index: 1;
    background: linear-gradient(to right, white, transparent);

  }

  @include after{
    width: 50%;
    left: auto;
    right: -60%;
    z-index: 1;
    background: linear-gradient(to left, white, transparent);

  }
}

.carousel-container{
  width: 100%;
  margin: auto;
  position: relative;

}

.carousel-slide{
  width: 100%;
  display: flex;
  grid-auto-columns: 100%;
  grid-template-rows: 100%;
  transition: transform .7s ease-in-out;
}

.slide{
  position: relative;
  background: $yellow;
  min-width: 100%;
  transform: scale(.6);
  transition: .3s;
  @include borderRadius(80px);

  z-index: -1;

  @media (max-width: 767px){
    margin-top: 30px;
  }

  .btn{
    margin-top: 15px;

    @media (min-width: 768px){
      max-width: 250px;
    }


  }


  &--inner{
    width: 80%;
    margin: auto;
    padding-block: 50px;
    
    @media (max-width: 767px){
        padding-block: 50px 70px;
    }
  }

  p{
    color: white;
  }

  h2{
    position: absolute;
    color: $lightBlue;

    @media (min-width: 768px){
      top: -50px;
    }
    
    @media (max-width: 767px){
      font-size: 30px;
      top: -25px;
    }
  }
}

.active{
  position: relative;
  background: $lightBlue;
  min-width: 100%;
  min-height: 200px;
  transform: scale(1);

  h2{
    color: $orange;
  }
}

:root{
  --arrow-width: 60px;
}


#prevSlide, #nextSlide{
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--arrow-width);
  border: none;

  @media (max-width: 767px){
    height: 50px;
    width: 50vw;
    top: auto;
    padding-right: 60px;
    bottom: 20px;
  }

  svg{
    transition: .3s ease-in-out;
    @media (max-width: 767px){
      height: 50px;
    }

    .svgProperty{
      fill: $orange;
      transition: .3s;
    }
  }

  &:hover{
    svg{
      @media (min-width: 1024px){
        transform: translateX(10px);
        .svgProperty{
          fill: $darkBlue;
        }
      }
    }
  }
}

.clicked{

  svg{
    transform: translateX(25px) !important;

    .svgProperty{
      fill: $yellow !important;
    }
  }
}

#prevSlide{
  left: calc(var(--arrow-width) * (-1));
  transform: rotate(180deg);

  @media (max-width: 767px){
    left: -25px;
  }
}

#nextSlide{
  right: calc(var(--arrow-width) * (-1));

  @media (max-width: 767px){
    right: -25px;
  }
}

